/* Fresh Hot Delicious */

.fresh {
    font-size: 20px;
}


/* Hero Section */

.hero {
    background-color: gold;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.hero-text {
    width: 50%;
}

.hero-text p {
    margin: 6px 0;
}

.hot,
.happy {
    margin: 0;
    font-size: 50px;
}

.hot {
    color: darkred;
}

.happy {
    color: darkgreen;
}


/* Hero Pizza */

.hero-pizza {
    width: 45%;
    height: 300px;
    object-fit: contain;
    position: absolute;
    right: 50px;
    top: 20px;
}


/* Order Button */

.order-button {
    background-color: darkred;
    color: white;
    border: 2px solid darkred;
    padding: 10px 20px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}


/* Section Titles */

.section-title {
    text-align: center;
    color: darkgreen;
    margin: 15px 10px;
}


/* Special Offers */

.offers {
    width: 90%;
    margin:auto;
    border-collapse: separate;
    border-spacing: 15px;
}

.offers td {
    border: 2px dotted brown;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.offers td img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 15px;
}

.offers td div {
    display: inline-block;
    vertical-align: middle;
}

.offers h2 {
    margin: 5px;
}

.offers p {
    margin: 8px;
}


/* Popular Pizzas */

.pizzas {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 15px;
}

.pizzas td {
    border: 2px dotted brown;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.pizzas td img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 15px;
}

.pizzas td div {
    display: inline-block;
    vertical-align: middle;
}

.pizzas h2 {
    color: darkgreen;
    margin: 5px;
}

.pizzas p {
    margin: 8px;
}

.pizzas .price {
    color: darkred;
    font-size: 18px;
    font-weight: bold;
}
/* Footer */

.footer {
    background-color:green;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}

.footer h2 {
    margin: 5px;
    font-size: 25px;
}

.footer p {
    margin: 8px;
    font-size: 16px;
}